rename it and rename its name in docker-compose.yml

the content should be like that:

DATABASE_URL=postgresql+psycopg://pg-username:pg-password@postgres:5432/pg-database_name
POSTGRES_USER=pg-username
POSTGRES_PASSWORD=pg-password
POSTGRES_DB=pg-database_name
JWT_SECRET_KEY=precalculated key: secrets.token_hex(32 / 64)
REDIS_URL=redis://hostname:port/db-index
ALLOWED_ORIGINS=empty || https://your-app-name.onrender.com,http://localhost:8000,http://127.0.0.1:8000