# Backend stuff
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
data/
.pytest_cache/
.ruff_cache/
.venv/

test_data.txt
*.sql
test.db


# Frontend stuff

dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

/node_modules

/.idea
.project
.classpath
*.launch
.settings/

.DS_Store
Thumbs.db


# Shared stuff

.env
.env.docker
.env*.local
